.window {
    font-size: 11px;
    display: flex;
    flex-direction: column;

    .as-div {
        // used in documentation, like as 98.css, xp.css, 7.css, etc.
        border: none !important;
        background: none !important;
    }

    .window-body{
        flex-grow: 1;
    }
}

[role=menubar], .menu-bar {
    // background: red;
    display: flex;
}
ul[role=menubar], ul.menu-bar {
    // background: yellow;
    margin: 0;
    padding-left: 0;
    list-style: none;

    // li {
    //     display: inline-block;
    // }
}

.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-bar-sys {
    button {
        display: $display-sys-button;
    }
}

.title-bar-text {
    flex-grow: 1;
    font-weight: var(--CaptionFont-bold, bold);
    // color: var(--TitleText);
    text-overflow: ellipsis;
    text-wrap-mode: nowrap;
    flex-shrink: 1;
    overflow: hidden;
}

.title-bar-controls {
    display: flex;
    button {
        padding: 0;
        display: block;
        &:focus {
            outline: none;
        }
    }
    button.close {
        display: $display-close-button;
    }
}