.scrollbar {
    &.vertical {
        // background: red !important;
        // ::-webkit-scrollbar-thumb:disabled{
        //     min-height: 100%;
        //     width: var(--ScrollWidth);
        // }
    }
}

.scrollbar-button {
	@extend %outset-deep-2;
    --scrollbar-arrows-ButtonText: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAJCAYAAABaMo5wAAAAW0lEQVQ4T2NkGGSAcZC5h4FWDvrPwEC02ShqkR0EkkAHuBxMyEKYWYQ8jKEOXQOyo/A5BuZwqqvBZiA+3xMbilQLIWqlcUJRimwPzjRELcdQZA6hREeR4eRoBgBoXhAK6oiMhwAAAABJRU5ErkJggg==);
    // background-image: var(--scrollbar-arrows-ButtonText);
    
}
// %outset-deep-2{
    // background: greenyellow;
    // border: lime;
// }
::-webkit-scrollbar{
    width: var(--ScrollWidth);
}
::-webkit-scrollbar:vertical{
    width: var(--ScrollWidth);
}
::-webkit-scrollbar-track:disabled{
    // width: var(--ScrollWidth);
    @extend %outset-deep-2;
    // min-height: 100% !important;
    // background: red !important;
    // display: block;
}
::-webkit-scrollbar-track-piece{
    // background: red;
    padding-top: 5px;
    // border: 5px solid yellow;
}