
Custom {
   --color-0: #004080; // Deskto
   --color-1: #ffffff; // AppWorkspace
   --color-2: #008000; // Window bg
   --color-3: #00ff00; // WindowText
   --color-4: #0000ff; // Menu bg
   --color-5: #00ffff; // MenuText
   --color-6: #408080; // ActiveTitle bg
   --color-7: #ffff00; // InactiveTitle bg
   --color-8: #ffffff; // TitlebarText
   --color-9: #ff8040; // ActiveBorder
   --color-10: #ff0000; // InactiveBorder
   --color-11: #0;         // WindowFrame
   --color-12: #818181;  // Scrollbars
}

Arizona {

   --color-0: #004080; // Deskto
   --color-1: #ffffff; // AppWorkspace
   --color-2: #ffffff;
   --color-3: #0;
   --color-4: #ffffff;
   --color-5: #0;
   --color-6: #408080;
   --color-7: #c0c0c0;
   --color-8: #ffffff;
   --color-9: #ff8040; // ActiveBorder
   --color-10: #c0c0c0;
   --color-11: #0;
   --color-12: #818181;
}
Bordeaux {
   --color-0: #800040;
   --color-1: #c0c0c0;
   --color-2: #ffffff;
   --color-3: #0;
   --color-4: #ffffFf;
   --color-5: #0;
   --color-6: #800080;
   --color-7: #c0c0c0;
   --color-8: #ffffff;
   --color-9: #8000ff;
   --color-10: #c0c0c0;
   --color-11: #0;
   --color-12: #818181;
}
Designer {
   --color-0: #3f7c7c;
   --color-1: #c0c0c0;
   --color-2: #ffffff;
   --color-3: #0;
   --color-4: #ffffff;
   --color-5: #0;
   --color-6: #8080;
   --color-7: #c0c0c0;
   --color-8: #ffffff;
   --color-9: #400040;
   --color-10: #c00c0c;
   --color-11: #0;
   --color-12: #c0c0c0;
}
Fluorescent {
   --color-0: #0;
   --color-1: #ffffff;
   --color-2: #ffffff;
   --color-3: #0;
   --color-4: #ff00;
   --color-5: #0;
   --color-6: #ff00ff;
   --color-7: #c0c0c0;
   --color-8: #0;
   --color-9: #80ff00;
   --color-10: #c0c0c0;
   --color-11: #0;
   --color-12: #c0c0c0;
}
Monochrome {
   --color-0: #c0c0c0;
   --color-1: #ffffff;
   --color-2: #ffffff;
   --color-3: #0;
   --color-4: #ffffff;
   --color-5: #0;
   --color-6: #0;
   --color-7: #c0c0c0;
   --color-8: #ffffff;
   --color-9: #808080;
   --color-10: #c0c0c0;
   --color-11: #0;
   --color-12: #818181;
}
Ocean {
   --color-0: #008080;
   --color-1: #008040;
   --color-2: #ffffff;
   --color-3: #0;
   --color-4: #ffffff;
   --color-5: #0;
   --color-6: #004080;
   --color-7: #c1c1c1;
   --color-8: #ffffff;
   --color-9: #808080;
   --color-10: #ffffff;
   --color-11: #0;
   --color-12: #818181;
}
Patchwork {
   --color-0: #bb4495;
   --color-1: #fafbc1;
   --color-2: #ffffff;
   --color-3: #0;
   --color-4: #ffffff;
   --color-5: #0;
   --color-6: #80ff0f;
   --color-7: #ffffff;
   --color-8: #0;
   --color-9: #4eb164;
   --color-10: #ffffff;
   --color-11: #0;
   --color-12: #818181;
}
Rugby {
   --color-0: #d00c0c;
   --color-1: #ffff80;
   --color-2: #ffffff;
   --color-3: #0;
   --color-4: #ffff0f;
   --color-5: #0;
   --color-6: #80;
   --color-7: #ffff0f;
   --color-8: #ffffff;
   --color-9: #800000;
   --color-10: #ffffff;
   --color-11: #0;
   --color-12: #818181;
}
Pastel {
   --color-0: #82ffc0;
   --color-1: #ffff80;
   --color-2: #ffffff;
   --color-3: #0;
   --color-4: #ffff0f;
   --color-5: #0;
   --color-6: #80ffff;
   --color-7: #ffff0f;
   --color-8: #0;
   --color-9: #ff80c0;
   --color-10: #ffffff;
   --color-11: #808080;
   --color-12: #818181;
}
Ving tips {
   --color-0: #808040;
   --color-1: #c0c0c0;
   --color-2: #ffffff;
   --color-3: #0;
   --color-4: #ffffff;
   --color-5: #0;
   --color-6: #808080;
   --color-7: #ffffff;
   --color-8: #ffffff;
   --color-9: #804000;
   --color-10: #ffffff;
   --color-11: #0;
   --color-12: #818181;
}