#editors-box{
    // position: absolute;
    > div {
        .field-row-stacked {
            display: inline-flex;
            margin-left: 10px;
            margin-bottom: 6px;
            --grouped-element-spacing: 3px; // editor margin-top
            --big-width: 195px;
            --small-width: 65px;
            
            > div > * {
                float: left;
            }

            &.big-width{
                width: var(--big-width);
            }
            &.small-width{
                width: var(--small-width);
            }
            
            &:first-child {
                margin-left: 0;
                // background: red;
                width: var(--big-width);
            }


            button.speed {
                min-width: 23px;
                padding: 0;
                margin: 0;
            }
        }
    }

    .bold {
        font-weight: bold;
    }
}