.FieldSpin{
    position: relative;

    input {
        width: 100%;
    }

    button {
        position: absolute;
        right: 3px;
        padding: 0;
        min-width: 17px;
        min-height: 9px;

        &:last-child{
            top:9px;
        }
    
        .win98.window & {
            padding: 0;
            min-width: 17px;
            min-height: 9px;
        }
    }
}