.preview-box {
    position: relative;
    width:400px;
    height: 340px;

    .window {
        position: absolute;
    }
    .sample_app{
        // inactive
        left: 161px;
        top: 157px;
        width: 200px;
        height: 147px;

        &.active {
            left: 166px;
            top: 182px;
            width: 218px;
            height: 122px;
        }

        #window-and-scrollbar {
            box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
            padding:2px;

            > div {
                overflow-y: scroll;
                pointer-events: none;

                textarea{
                    pointer-events: all;
                    display: block;
                    width: 100%;
                    resize: none;
                }
            }
        }
    }

    .message-box{
        left: 175px;
        top:257px;
        width: 167px;
        height: 73px;

        .window-body{
            position: relative;


            button {
                position: absolute;
                left: 45px;
                top: 25px;
            }
        }

    }
    
}

.preview-box .editors-box{

    #ed-items {
        left: 30px;
    }
}