.window {
    border: none;
    background: var(--ButtonFace);
    box-shadow: 2ch 1em rgba(0, 0, 0, 0.315);

    .title-bar {
        min-height: var(--CaptionHeight, 18px);
        background: linear-gradient(to right, var(--ActiveTitle), var(--GradientActiveTitle));
        color: var(--TitleText);
        
        display: flex;
        align-items: center;
        
        .title-bar-sys{
            width: 2ch;
            box-shadow: 1px 0 black;
            // display: flex;
            // float: left;
            align-self: stretch;
            
            button {
                height: 100%;
                width: 100%;
                border: 1px solid white;
                background: black;
                box-shadow: none;
                // width: 2ch;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                &::after{
                    content: '';
                    border: 1px solid white;
                    width: calc(100% - 6px);

                }
            }
        }

        .title-bar-text {
            text-align: center;
        }

        .title-bar-controls {
            display: none;
        }
    }

    &:not(.active) {
        .title-bar {
            background: linear-gradient(to right, var(--InactiveTitle), var(--GradientInactiveTitle));
            color:var(--InactiveTitleText);
        }
    }

    
    .window-body{
        border: 2px solid var(--ActiveBorder);
        border-top: none;
        padding: 0 1ch 1em;
    }
}

.window.message-box {
    background: aquamarine;
    .title-bar {
        background: white;
        color: $ButtonFace;
    }
}

.window.tool-window {
    .title-bar{display: none;}

    .window-body{
        border-top: 2px solid var(--ActiveBorder);
        padding-top: 1em;
        color: var(--WindowText);
    }
}