.root-designing-component{
    background-color: var(--3dcolor);
    background-image: radial-gradient(silver 1px, transparent 0) !important;
    background-size: 10px 10px !important;
    background-position: -1px -1px !important;
}